.classlogo{
    width: 580px;
    height: 340px;
}
#indexlogo{
    padding: 200px 0 280px;
    margin:-200px 0;
}
.indexclass{
    background-color: #FFFCEC;
    font-family: "Microsoft JhengHei";
}
.fourlogo{
    background-color: white;
    overflow-wrap: break-word;
    height: 100px;
    margin: 0 0 50px 0;
}
#menu {
    position: fixed;
    right: 10%;
    /* top: 50%; */
    /* width: 8em; */
    /* margin-top: -2.5em; */
}
.navli{
    font-size: 16px;
    color:white;
}
.fourlogo_p{
    text-align: center;
    /* line-height: 75%; */
    line-height: 15px;
    font-size: 20px;
    font-family: "Microsoft JhengHei";
}
.index_logo_title{
    margin: 0 5px 0 0;
}